################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSE165Project/CSE165/.vs/CSE165/v17
